    @font-face {
        font-family: 'BebasNeueBook';
        src: url('../font/bebas-neue-book/BebasNeueBook.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'BebasNeue';
        src: url('../font/bebas_neue/BebasNeue.otf') format('opentype');
    }
    
    @font-face {
        font-family: 'Rage Italic';
        src: url('../font/Rage Italic.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Yoga Flame';
        src: url('../font/YogaFlame/HYogaFlame-Regular.ttf') format('truetype');
    }
    
    * {
        box-sizing: border-box;
    }
    
    html {
        height: 100%;
        width: 100%;
    }
    
    body {
        margin: 0;
        font-family: "BebasNeue", sans-serif;
        text-align: center;
        background-color: black;
        width: 100%;
        height: 100%;
        color: #fff;
    }
    
    .container {
        width: 95%;
        margin: 0 auto;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    h1 {
        text-align: center;
        font-family: 'Rage Italic';
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        margin: 0;
    }
    
    h2 {
        text-align: center;
        font-family: "BebasNeueBook";
        text-shadow: 2px 2px 50px #000, 1px 1px 50px #000;
    }
    
    p1 {
        text-align: center;
        font-family: "BebasNeueBook";
        text-shadow: 2px 2px 50px #000, 1px 1px 50px #000;
    }
    
    p2 {
        text-align: center;
        font-family: "BebasNeueBook";
        text-shadow: 2px 2px 50px #000, 1px 1px 50px #000;
    }
    
    .UnstyledList {
        columns: 1em 2;
        padding: 1em;
        list-style-type: none;
        font-size: 1.5rem;
        color: white;
        font-family: "BebasNeueBook";
        text-shadow: 2px 2px 50px #000, 1px 1px 50px #000;
        letter-spacing: 1.2px;
    }
    
    .content-wrap {
        width: 90%;
        margin: 0 auto;
        max-width: 1140px;
        position: relative;
        z-index: 2;
    }
    /*==================================*/
    /*===============Header=============*/
    /*==================================*/
    
    header {
        position: absolute;
        margin-top: .25;
        left: 0;
        right: 0;
    }
    
    .navigation-bar {
        font-family: "BebasNeueBook";
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 110;
    }
    
    .is-hidden {
        opacity: 0;
        -webkit-transform: translate(0, -60px);
        -webkit-transition: -webkit-transform .2s, background .3s, color .3s, opacity 0 .3s;
    }
    
    .is-visible {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -webkit-transition: -webkit-transform .2s, background .3s, color .3s;
    }
    
    nav ul {
        margin: 0;
        padding 3em;
        list-style: none;
    }
    
    nav li {
        display: inline-block;
        margin: .5em;
    }
    
    nav a {
        font-weight: 400;
        text-decoration: none;
        text-transform: capitalize;
        font-size: .7em;
        padding: .2444em;
        color: white;
    }
    
    nav a:hover,
    nav a focus {
        color: #ddd;
    }
    
    @media (min-width: 20rem) {
        nav a {
            font-size: .6em
        }
    }
    
    @media only screen and (min-width: 40rem) {
        nav a {
            font-size: 1.5em
        }
    }
    
    @media (min-width: 60rem) {
        nav a {
            font-size: 1.8em;
            font-weight: 200;
        }
    }
    /*==================================*/
    /*===============Typeagraphy========*/
    /*==================================*/
    
    .Hero_Title {
        font-family: "Yoga Flame";
        letter-spacing: 6px;
        font-size: 2.5rem;
        color: white;
        opacity: 1;
        color: #fff;
        text-shadow: 1px 1px 10px #000, 1px 1px 50px #000;
        text-align: center;
    }
    
    .Hero_Title_02 {
        font-size: 1.5rem;
        color: white;
        text-shadow: 2px 2px 50px #000, 1px 1px 50px #000
    }
    
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    
    .About-Hero {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    
    .About-Hero h1 {
        font-size: 3em;
        margin: 0;
        font-weight: 100;
        font-size: 2.5em;
        color: white;
    }
    
    .About-Hero h1 span {
        display: block;
    }
    
    .about-hero-text {
        margin: 0;
        font-weight: 100;
        font-size: 2.5em;
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        font-size: 1em;
    }
    
    .training-grounds {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    
    .training-decs-text {
        margin: 0;
        font-weight: 100;
        font-size: .5em;
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        font-size: 1em;
        letter-spacing: 1.7px;
    }
    
    .Equipment-text {
        font-size: 5.5rem;
    }
    
    .about-closing-text {
        font-size: 1.1em;
        letter-spacing: 1.px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
    }
    
    .about-equipment-text {
        font-size: 1.5rem;
        letter-spacing: 1.7px;
    }
    
    @media only screen and (min-width: 40rem) and  {
        .Hero_Title {
            font-size: 5.5rem;
        }
        .Hero_Title_02 {
            font-size: 3.5rem;
        }
        .About-Hero h1 {
            font-size: 4.5rem;
        }
        .About-Hero h1 span {
            font-size: 3.5rem;
        }
        .about-hero-text {
            font-size: 5em;
            letter-spacing: 5px;
        }
        .training-decs-text {
            font-size: 2em;
            letter-spacing: 2.5px;
        }
        .about-closing-text {
            font-size: 2.2em;
        }
    }
    
    @media only screen and (min-width: 60rem) {
        .Hero_Title {
            font-size: 7.5rem;
        }
        .Hero_Title_02 {
            font-size: 4.5rem;
        }
        .about-hero-text {}
        .About-Hero h1 {
            font-size: 6.5rem;
        }
        .About-Hero h1 span {
            font-size: 5.5rem;
        }
        .training-decs-text {
            font-size: 3.5rem;
            letter-spacing: 7px;
        }
        .about-closing-text {
            font-size: 4.0em;
        }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3.0) and (-min--moz-device-pixel-ratio: 3) and (orientation: portrait) {
        .about-hero-text {
            font-size: 1.5rem;
            letter-spacing: 7px;
        }
    }
    /*==================================*/
    /*===============Hero===============*/
    /*==================================*/
    
    .home-hero {
        background: url(../img/Squat.jpg) no-repeat;
        height: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: .8
    }
    
    @media only screen and (min-width: 40rem) {
        .home-hero {
            height: 50%;
        }
    }
    
    @media only screen and (min-width: 60rem) {
        .home-hero {
            height: 100vh;
        }
    }
    /*==================================*/
    /*===========About-Hero=============*/
    /*==================================*/
    
    .aaron-port {
        padding: 10em 0;
        color: #fff;
        background-color: #000;
        text-align: center;
        position: relative;
        overflow: hidden;
        height: 100% 0;
    }
    
    .aaron_img {
        background: url(../img/Aaron_Hero.jpg) no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 125%;
        top: 0;
        z-index: 1;
        opacity: 0.7;
        max-width: 2000px
    }
    
    .bg-container {
        background-color: #0F0F0F;
        width: 100%;
        margin: 0;
        height: 20%;
    }
    
    .about-hero-desc {
        background-image: url(../img/container_bg.jpg);
        width: 100%;
        height: 39%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: .8;
    }
    
    @media only screen and (min-width: 40rem) {
        .aaron-port {
            padding: 15em 0;
        }
    }
    
    @media only screen and (min-width: 60rem) {
        .aaron-port {
            padding: 30em 0;
        }
        .about-hero-desc {
            width: 100%;
            height: 59%;
        }
    }
    /*==================================*/
    /*===========Training Port==========*/
    /*==================================*/
    
    .Training-Port {
        overflow: hidden;
    }
    
    .Training-Port img {
        margin: 2;
        display: block;
        position: relative;
    }
    
    .trainingDesc {
        background-image: url(../img/container_bg.jpg);
        width: 100%;
        height: 39%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: .8;
    }
    
    @media only screen and (min-width: 40rem) {
        .Training-Port img {
            width: 50%;
            float: left;
        }
    }
    
    @media only screen and (min-width: 60rem) {
        .trainingDesc {
            width: 100%;
            height: 59%;
        }
        .Training-Port img {
            width: 35%;
            padding-left: 0em;
            margin-left: 10em;
            padding-bottom: 1em;
        }
    }
    
    @media only screen and (min-width: 70rem) {
        .Training-Port img {
            width: 41%;
            padding-left: 0em;
            margin-left: 6em;
            padding-bottom: 1em;
        }
    }
    /*==================================*/
    /*===========Equipment==============*/
    /*==================================*/
    
    .equipment-parallax {
        padding: 5em 0;
        color: #fff;
        background-color: #000;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    
    .equipment {
        background: url(../img/gymOnly03.jpg) no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 180%;
        top: 0;
        z-index: 1;
        opacity: 0.65;
    }
    
    .About_Equipment {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    
    @media only screen and (min-width: 40rem) {
        .equipment-parallax {
            padding: 15em 0;
        }
        .About_Equipment {
            background-color: #0F0F0F;
        }
    }
    
    @media only screen and (min-width: 60rem) {
        .equipment-parallax {
            padding: 20em 0;
        }
    }
    /*==================================*/
    /*===========Closing================*/
    /*==================================*/
    
    .closing-container {
        background-image: url(../img/Gloss_Spears_clear.jpg);
        width: 100%;
        height: 39%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: .8;
    }
    
    .closing-container {
        padding: em 0;
        color: #fff;
        background-color: #000;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    
    @media only screen and (min-width: 40rem) {
        .closing-container {
            padding: em 0;
        }
        .about-closing {
            height: 90%
        }
    }
    
    @media only screen and (min-width: 60rem) {
        .closing-container {
            padding: 20em 0;
        }
        .closing-container {
            height: 90%;
        }
    }
    /*==================================*/
    /*===========Footer================*/
    /*==================================*/
    
    #myFooter {
        background-color: black;
        color: white;
        padding-top: 20px;
        font-family: "BebasNeueBook", sans-serif;
    }
    
    #map-container {
        height: 240px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    #myFooter .row {
        margin: 0 85px;
    }
    
    #myFooter .footer-copyright {
        background-color: black;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    
    #myFooter .footer-copyright p {
        margin: 10px;
        color: #ccc;
    }
    
    #myFooter .container {
        width: auto;
    }
    
    #myFooter ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5 {
        font-size: px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    
    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: white;
    }
    
    #myFooter .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 38px;
    }
    
    #myFooter .fa {
        font-size: 30px;
        margin-right: 15px;
        margin-left: 20px;
        background-color: white;
        color: #182c39;
        border-radius: 51%;
        padding: 10px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 31px;
        text-decoration: none;
        transition: color 0.2s;
    }
    
    #myFooter .fa-facebook:hover {
        color: #2b55ff;
    }
    
    #myFooter .fa-facebook:focus {
        color: #2b55ff;
    }
    
    #myFooter .fa-instagram:hover {
        color: #2b55ff;
    }
    
    #myFooter .fa-instagram:focus {
        color: #2b55ff;
    }
    
    #myFooter .fa-twitter:hover {
        color: #00aced;
    }
    
    #myFooter .fa-twitter:focus {
        color: #00aced;
    }
    
    @media screen and (max-width: 767px) {
        #myFooter {
            text-align: center;
        }
        #myFooter .row {
            margin: 0;
        }
    }
